/* Put your custom styles here */

body:after {
    display: none;
}

body {
    background: #000;
}

#loading>div>div {
    background: #e91e63;
}

.south-main-title .logo {
    background-image: url(../img/logo.png);
    width: 90%;
    max-width: 338px;
    height: 112px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: -10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.app-intro {
    text-align: left;
    padding-top: 44px;
}

.south-sub-heading {
    color: #fff;
    font-family: eausans_book;
    margin-top: 36px;
    margin-bottom: 45px;
    font-size: 31px;
    line-height: 42px;
}

.section-south,
.section-south.parallax {
    background: url(../img/header_bg.png);
    background-size: cover;
}

.carousel-nexus {
    background: url(../img/nexus/nexus.png) top center no-repeat;
    width: 358px;
    width: 90%;
    height: 678px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-holder {
    border: 1px solid #e0e0e0;
    display: block;
    margin: 0 auto;
    line-height: 155px;
}

.iphone-6 {
    left: 3px;
}

.iphone-6 .iphone-screenshot {
    top: 44px;
    width: 300px;
    height: 550px;
}

.carousel-indicators li {
    background: #707070;
    background-color: #707070;
    border: 1px solid #707070;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #e91e63;
    border-color: #e91e63;
}

.iphone-6 .iphone-device {
    top: 0;
}

.section {
    padding: 50px;
    text-align: center;
}

.specs-spot:before,
.specs-spot {
    background: transparent;
}

.specs-spot::after {
    width: 30px;
}

.specs-left .specs-wrapper {
    margin-right: 40px;
}

.specs-left .specs-spot {
    right: -18px;
}

.iphone-6 {
    min-height: 575px;
}

.section-clouds::before {
    display: none;
}

#carousel-south .carousel-content h2 {
    font-family: 'eausans_book';
    font-size: 20px;
}

#carousel-south .carousel-content p {
    font-family: 'eausans_book';
    font-size: 14px;
}

.specs-wrapper.active span,
.specs-wrapper.active h2,
.specs-wrapper.active p {
    color: #e91e63;
}

.specs-wrapper.active .specs-spot:after {
    background: #e91e63;
}

.app-features p {
    color: #000000;
}

.padding-offset {
    padding-top: 100px;
}

.app-details-inner .specs-right .specs-wrapper:first-child {
    margin-top: 0;
}

.specs-right .specs-wrapper {
    margin-left: 40px;
}

.section-south.south-bottom {
    background: #000000;
    padding: 0;
}

.south-bottom h2 i {
    color: #fff;
}

.red-txt {
    color: #e91e63;
}

.south-footer {
    background: #000;
    text-align: center;
}

.south-bottom h2 {
    color: #fff !important;
}

.south-bottom .col-md-7,
.south-bottom .col-md-5 {
    text-align: left;
}

.south-bottom strong a {
    color: #e91e63;
    text-decoration: none;
}

.south-bottom a img {
    /*    margin-bottom: 30px;*/
}

.south-bottom .col-md-5 span {
    line-height: 30px;
}

.btn-icon-only {
    height: 55px;
    width: 55px;
    line-height: 55px;
    text-align: center;
    padding: 0;
    margin-right: 10px;
    font-size: 24px;
}

.google_link {
    border: 1px solid #ffffff;
    display: block;
    width: 243px;
    border-radius: 9px;
}

.google_link img {
    width: 240px
}

.south-details-heading {
    color: #000;
    font-family: eausans_book;
    margin-top: 70px !important;
    margin-bottom: 45px !important;
    font-size: 41px;
    line-height: 52px;
}

.pink-txt {
    color: #e91e63;
}

.section-grey {
    background: #f2f2f2 !important;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.iphone-6 .iphone-screenshot {
    height: auto;
    max-width: 87%;
}

.p-b-20 {
    padding-bottom: 20px;
}

.bottom-inner {
    padding: 70px 20px 35px;
}

.app-features .col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.specs-spot:after {
    background: transparent;
}
/*
.app-features .col-md-4 {
    padding-right: 45px;
    padding-left: 45px;
}
*/

@media (max-width: 1024px) {}

@media (max-width: 480px) {
    .section {
        padding: 20px;
    }
    .iphone-6 .iphone-screenshot {
        height: auto;
        max-width: 87%;
    }
    .google_link {
        margin: auto;
    }
    .iphone-6 {
        /*        min-height: 430px;*/
        
        posinion: relative;
    }
    .specs-right.padding-offset {
        float: none;
        padding-top: 20px;
        padding-right: 0;
    }
    .specs-left.padding-offset {
        float: none;
        padding-top: 20px;
        padding-left: 0;
    }
    .specs-right .specs-wrapper {
        margin-left: 0;
    }
    .specs-left .specs-wrapper {
        margin-right: 0px;
    }
    .app-features .col-md-4 {
        padding-right: 45px;
        padding-left: 45px;
    }
    .app-details-inner .app-features {
        position: relative;
        margin-bottom: 250px;
    }
    .app-features .specs-left,
    .app-features .specs-right {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .specs-wrapper {
        display: none;
    }
    .specs-wrapper.active {
        display: block;
    }
}

@media (max-width: 321px) {
    .iphone-6 {
        min-height: 416px !important;
    }
}

@media (max-width: 400px) {
    .iphone-6 {
        min-height: 500px;
    }
    .carousel-nexus {
        height: 530px;
    }
    .demo-south .section-clouds {
        padding-bottom: 40px;
    }
    .iphone-6 {
        /*  min-height: 400px;*/
    }
}

@media (max-width: 991px) and (min-width: 480px) {
    .iphone-6 {
        min-height: 645px;
    }
    .specs-right.padding-offset {
        float: none;
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0;
    }
    .specs-left.padding-offset {
        float: none;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .specs-right .specs-wrapper {
        margin-left: 0;
    }
    .specs-left .specs-wrapper {
        margin-right: 0px;
    }
    .app-details-inner .app-features {
        position: relative;
        margin-bottom: 250px;
    }
    .app-features .specs-left,
    .app-features .specs-right {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .specs-wrapper {
        display: none;
    }
    .specs-wrapper.active {
        display: block;
    }
}

@media (min-width: 980px) {
    .south-header {
        height: 520px;
    }
}